.wrapper-fluid {
    overflow: hidden;
    max-width: inherit;
    width: 100%;
    padding: 0;
}

.dots-wrapper {
    width: 100%;
    text-align: center;
    margin-top: -30px;
}

.dots-wrapper .dots {
    display: inline-block;
    position: relative;
    top: auto;
    bottom: auto;
}

.dot {
    cursor: pointer;
}

.wrapper-fluid .items .item {
    /*width: 33.33%;*/
}

.container-2260 [data-cmp="grid"] .item,
.container-20 [data-cmp="grid"] .item {
    /*left: auto !important;*/
    /*top: auto !important;*/
    /*float: left;*/
    /*position: relative;*/
}

.container-2260 [data-cmp="grid"] .item[data-size="small"],
.container-20 [data-cmp="grid"] .item[data-size="small"] {
    width: 33.33%;
}

.wrapper.container-2260,
.wrapper.container-20 {
    max-width: inherit;
    margin: 0;
    padding: 0;
}

[data-cmp="grid"] .item[data-bg="blue_new"] {
    background-color: #0066e3;
}

[data-cmp="grid"] .item[data-bg="charcoal"] {
    background-color: #26262e;
}

.middleTrans {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 30px;
}

.inner .middleTrans a,
.inner .middleTrans a:hover {
    color: #fff;
    text-decoration: none;
}

.inner.has-overlay.wk {
    background-size: cover;
}

.inner.has-overlay.wk a.inner-bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.inner.has-overlay.wk a.inner-bottom .over {
    height: 60px;
}

.inner.has-overlay.wk a.inner-bottom .over:hover {
    background-color: transparent !important;
}

.inner.has-overlay.wk a.inner-bottom:hover {
    background-color: rgba(38, 38, 46, 0.8);
}

.inner.has-overlay.wk a.inner-bottom {
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.inner.testimonial .gtitle {
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 30px;
}

.inner.testimonial .para {
    color: #0066e3;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.wrapper-consult {
    max-width: 500px;
    width: 100%;
    display: inline-block;
    padding: 80px 20px;
}

.center-fix {
    text-align: center;
}

.cTitle {
    font-size: 25px;
    font-weight: 600;
    color: #0066e3;
    padding-bottom: 20px;
}

.over.left-right .gtitle {
    position: relative;
    opacity: 0;
}

.inner.has-overlay.wk:hover .over.left-right .gtitle {
    opacity: 1;
}

.over.left-right i {
    position: absolute;
    top: 7px;
    right: 0;
}

.footer-wrapper {
    background-color: #26262e;
    padding: 40px 0;
    color: #fff;
}

.f-item {
    width: 24%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.f-item ul {
    padding: 0;
    list-style: none;
}

.f-item ul li {}

.f-item ul li.title {
    font-weight: 600;
    padding-bottom: 7px;
}

.f-item ul li.title a,
.f-item ul li.title a:hover {
    color: #fff;

}

.f-item ul li a,
.f-item ul li a:hover {
    color: #a8a8ab;
    text-decoration: none;

}

/*.f-item.f-logo{*/
/*padding: 20px 0 !important;*/
/*}*/
.f-logo svg.logo {
    display: inline-block;
    margin-top: -20px;
    color: #0066e3;
    fill: #0066e3 !important;
    margin-left: -35px;
}

.footer-bottom {
    color: #fff;
    padding: 20px;
}

.footer-bottom .left {
    float: left;
}

.footer-bottom .right {
    float: right;
}

.footer-bottom i {
    font-size: 20px;
    padding-left: 10px;
}

.product-hero-banner {
    display: flex;
    /* equal height of the children */
    flex-flow: wrap;
}

.product-hero-banner .hero-side {
    flex: 1;
    /* additionally, equal width */
    /*flex: 0 0 50%;*/
    padding: 1em;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    height: calc(100vh - 80px);
    margin-bottom: 40px;
    background-position-y: bottom;
}

.product-hero-banner .hero-side.left {
    background: #26262e;
}

.product-hero-banner .hero-side.right {
    background-size: cover;
}

.product-hero-banner .hero-side.left .hero_banner_image {
    font-size: 35px;
    font-weight: 600;
    color: #0066e3;
}

.product-hero-banner .hero-side.left .hero_text {
    font-size: 20px;
    font-weight: 100;
    color: #fff;
}

.container-2260 .items,
.container-20 .items {
    display: flex;
    flex-wrap: wrap;
}

.container-2260 .items .item,
.container-20 .items .item {
    /*width: 33.33% !important;*/
    position: relative;
    top: auto !important;
    left: auto !important;
    /*flex-grow: 1;*/
}

.breadcrumbs {
    display: none;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.right a {
    color: #fff;
}

.wrapper._2260,
.wrapper._28,
.wrapper._26,
.wrapper._46,
.wrapper._8,
.wrapper._33,
.wrapper._14,
.wrapper._5,
.wrapper._7,
.wrapper._9,
.wrapper._12,
.wrapper._20,
.wrapper._32,
.wrapper._21 {
    max-width: initial;
    margin: auto !important;
    padding: 60px 0 60px 0 !important;
}

.wrapper._34,
.wrapper._59,
.wrapper._32,
.wrapper._30,
.wrapper._28,
.wrapper._22,
.wrapper._25 {
    margin-bottom: 30px;
}

.f-item-wrapper {
    float: right;
    width: 72%;
}

#sb_instagram {
    margin-top: -55px !important;
    padding-bottom: 0 !important;
}

body.page-template-home .cols {
    padding-top: 100px;
    padding-bottom: 60px;
}

.wrapper-fluid.center-fix.insta .wrapper-consult {
    padding-top: 0 !important;
}

.wrapper-fluid.center-fix.insta2 .wrapper-consult {
    padding-top: 0 !important;
}

#main.site-main {
    padding-top: 60px;
    padding-bottom: 60px;
}

#main.site-main._20 .wrapper-consult {
    padding-top: 20px;
}

.wrapper.container-22 {
    padding: 0;
}

.site-main._59 {
    height: 100vh;
}

.over.ftfix {
    opacity: 1;
    transform: translate(-100%, 0%) matrix(1, 0, 0, 1, 0, 0);
}

.over.ftfix .gtitle {
    /*position: absolute;*/
    /*bottom: 17px;*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*bottom: 17px;*/
    /*width: 40px;*/
    /*height: 40px;*/
}

.product-hero-banner,
#main.wrapper._2260 {
    margin-top: -60px !important;
}

/* =============================
    Media Queries
===============================*/

@media (max-width: 560px) {

    .container-2260 [data-cmp="grid"] .items .item[data-size="small"],
    .container-20 [data-cmp="grid"] .items .item[data-size="small"] {
        width: 100% !important;
    }

    .f-item-wrapper .f-item {
        width: 100% !important;
    }

    .product-hero-banner .hero-side {
        flex-basis: 100% !important;
        margin-bottom: 0 !important;
        height: calc(250px);
    }
}

@media (max-width: 670px) {
    .f-item-wrapper .f-item {
        float: none;
        display: block;
        padding-bottom: 10px;
        width: 50%;
    }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .container-2260 [data-cmp="grid"] .item[data-size="small"],
    .container-20 [data-cmp="grid"] .item[data-size="small"] {
        width: 50% !important;
    }

    .middleTrans {
        padding: 0 5px;
    }

    .product-hero-banner .hero-side {
        flex-basis: 100%;
        margin-bottom: 0;
    }

    .product-hero-banner .hero-side.left {
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
    }

    .product-hero-banner .hero-side.right {
        height: 250px;
    }

    .product-hero-banner {
        margin-bottom: 30px;
    }

    .over.ftfix {
        opacity: 1 !important;
        transform: matrix(1, 0, 0, 1, 0, 0) !important;
        background-color: rgba(38, 38, 46, 0.5) !important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .container-2260 [data-cmp="grid"] .item[data-size="small"],
    .container-20 [data-cmp="grid"] .item[data-size="small"] {
        width: 50% !important;
    }

    .middleTrans {
        padding: 0 5px;
    }

    .product-hero-banner .hero-side {
        flex-basis: 100%;
        margin-bottom: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .product-hero-banner .hero-side.left {
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
    }

    .product-hero-banner .hero-side.right {
        height: 250px;
    }

    .product-hero-banner {
        margin-bottom: 30px;
    }

    .over.ftfix {
        opacity: 1 !important;
        transform: matrix(1, 0, 0, 1, 0, 0);
        background-color: rgba(38, 38, 46, 0.5);
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .container-2260 [data-cmp="grid"] .item[data-size="small"],
    .container-20 [data-cmp="grid"] .item[data-size="small"] {
        width: 33.33% !important;
    }

    .middleTrans {
        padding: 0 30px;
    }

    .product-hero-banner .hero-side {
        flex-basis: 50%;
        margin-bottom: 40px;
        height: calc(100vh - 80px);
    }

    .product-hero-banner .hero-side.left {
        padding-top: 0;
        padding-bottom: 0;
    }

    .product-hero-banner .hero-side.right {
        height: calc(100vh - 80px);
    }

    .product-hero-banner {
        margin-bottom: 0;
    }

    .over.ftfix {
        opacity: 1;
        transform: translate(-100%, 0%) matrix(1, 0, 0, 1, 0, 0);
        background-color: rgba(0, 0, 0, 0);

        /*background-color: rgba(38, 38, 46, 0.5);*/
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .container-2260 [data-cmp="grid"] .item[data-size="small"],
    .container-20 [data-cmp="grid"] .item[data-size="small"] {
        width: 33.33% !important;
    }
}