@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
    --primary-blue: #0668e5;
    --white: #ffff;
}

body {
    font-family: 'Roboto', sans-serif;
}

.cta-menu {

}

#topbar {
    text-align: center;
    height: 52px;
    color: var(--white);
    background-color: var(--primary-blue);
}

#topbar .cta-menu .b1,
#topbar .cta-menu .b2,
#topbar .cta-menu .b3 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 1px; */
    background-color: #fff;
}


.none {
    display: none;
}